.CodeMirror {
    line-height: 1.2em;
    height: 100%;
    font-size: 27px;
}

.CodeMirror-linenumber {
    background-color: #cccccc !important;
}

.CodeMirror-line {
    margin-left: 10px !important;
}
