#modal-body-code-preview {
    border-bottom: 5px solid grey;
}

.modal-header-success-challenges {
    background-color: #6c5070;
}

.modal-header-settings {
    background-color: #466da9;
}

.modal-header-settings-icon {
    font-size: 100px;
    color: #f3f3f3;
}
.modal-header-success-icon {
    font-size: 100px;
    color: #f3f3f3;
    padding: 10px;
}
.modal-title {
    font-weight: bold;
}
.modal-body-title {
    text-align: center;
}

.modal-header-error-code {
    background-color: #f46060;
}

.modal-header-warning-code {
    background-color: #ffc107;
}

.modal-header-question {
    background-color: #b8972c;
}

.modal-header-error-icon {
    font-size: 100px;
    color: #f3f3f3;
    padding: 10px;
}

.modal-header-warning-icon {
    font-size: 100px;
    color: #4c4444;
    padding: 10px;
}

.modal-header-question-icon {
    font-size: 100px;
    color: #f3f3f3;
    padding: 10px;
}

.modal-footer {
    border-top: none;
}
.modal-custom-footer {
    display: none;
}
.modal-header {
    border-bottom: none;
}

.modal-header .close {
    margin-right: -5px;
    margin-bottom: -3em;
    margin-top: -0.2em;
    margin-left: 1.7em;
    background-color: black;
    color: white;
    padding: 0.4em 0.6em 0.4em 0.6em;
}

.modal-header .close:hover {
    margin-right: -5px;
    margin-bottom: -3em;
    margin-top: -0.2em;
    margin-left: 1.7em;
    background-color: red;
    color: white;
    padding: 0.4em 0.6em 0.4em 0.6em;
}

.modal-header .close-rounded {
    margin-right: -5px;
    margin-bottom: -3em;
    margin-top: -0.2em;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0.4em 0.6em 0.4em 0.6em;
}

.modal-header .close-rounded:hover {
    margin-right: -5px;
    margin-bottom: -3em;
    margin-top: -0.2em;
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 0.4em 0.6em 0.4em 0.6em;
}

#modal-header-device {
    margin-bottom: 10em;
}

#modal-title-device {
    text-align: center;
    font-weight: bold;
    margin-bottom: 4em;
    margin-top: 2em;
    height: 0em;
}

.modal-title-header {
    font-size: 3em;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
}
#modal-footer-device {
    display: none;
}

#modal-body-device {
    margin-bottom: 3em;
    margin-top: 10px;
}

.modal-content-code-preview {
    background-color: #282a36;
}
.modal-header-code-preview {
    color: #f3f3f3;
}
