#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Blokino
Comment=Blokino - IDE para programar en bloques. 
Exec=sh -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY sudo /opt/blokino/blokino"
Terminal=false
Type=Application
Icon=/opt/blokino/resources/app/src/images/blokino-logo.svg
StartupWMClass=Blokino
Categories=Utility;
Name[en_US]=blokino.desktop
